.counter {
  align-items: center;
  background-color: var(--light-grayish-blue);
  border-radius: 8px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.counter button {
  all: unset;
  padding: 8px 16px;
}

.counter > div {
  text-align: center;
}
